<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta charset=”utf-8">
    <title>Sharefeeder - Alimentemos a los perros!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name=”description” content=”A simple crud app made with the vue js and django”>
    <meta name=”keywords” content=”vuejs, django, crudapp, restapi”>
    <! — bootstap →
    <link rel="stylesheet" type="text/css" href="{% static "feeder/css/bootstrap.min.css" %}">
    <! — boostrap css →
</head>
<body>
    <div id="app">
        <v-app id="inspire">
            <v-toolbar>
                <v-toolbar-items>
                    <v-btn flat href="/">Sharefeeder</v-btn>
                </v-toolbar-items>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-btn flat href="/sign">Ingresar</v-btn>
                    <v-btn flat href="/about">Acerca de nosotros</v-btn>
                </v-toolbar-items>
            </v-toolbar>
            {%  block content %}
            {% endblock %}
        </v-app>
    </div>

    <! — bootrtap js files →
    <script src="{% static "feeder/js/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "feeder/js/bootstrap.min.js" %}"></script>
    <script src="{% static "feeder/js/vue.js" %}"></script>
    <script src="{% static "feeder/js/vuetify.js" %}"></script>
    <script src="{% static "feeder/js/vee-validate.js" %}"></script>
    <script src="{% static "feeder/js/main.js" %}"></script>
</body>
</html>